## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

# path = os.path.join("..", "Weather_Data", "weather_data", "WeatherPy_database.csv")
# print(path)

path = '../Weather_Database/weather_data/WeatherPy_database.csv'

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df = pd.read_csv(path)
vacation_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Weather
0,0,Mayumba,-3.4320,10.6554,78.35,86,60,5.37,GA,broken clouds
1,1,Bambous Virieux,-20.3428,57.7575,79.21,82,51,11.81,MU,broken clouds
2,2,Komatipoort,-25.4332,31.9548,72.05,88,58,8.28,ZA,broken clouds
3,3,Ridgecrest,35.6225,-117.6709,61.68,13,0,4.00,US,clear sky
4,4,Bluff,-46.6000,168.3333,38.80,81,2,4.16,NZ,clear sky

In [42]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}Â°F</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [43]:
# With TA Nathan, used this os.walk function to determine the file path needed to to read into the df.
# for x in os.walk(
#     ".."
# ):
#     print(x)

In [44]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Semme"]
vacation_end = vacation_df.loc[vacation_df['City']=="Semme"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="La Rochelle"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Limoux"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Gap"] 
print(vacation_start)

     City_ID   City      Lat     Lng  Max Temp  Humidity  Cloudiness  \
661      661  Semme  46.1963  1.5007     45.01        95         100

     Wind Speed Country  Current Weather
661        13.6      FR  overcast clouds

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

(46.1667, -1.15)

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
parlez_vous = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], 
    travel_mode='DRIVING')
fig.add_layer(parlez_vous)
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Weather
0,661,Semme,46.1963,1.5007,45.01,95,100,13.60,FR,overcast clouds
1,592,La Rochelle,46.1667,-1.1500,52.68,87,100,17.27,FR,overcast clouds
2,322,Limoux,42.9167,2.1667,45.82,59,100,8.28,FR,overcast clouds
3,419,Gap,44.6667,6.0000,26.06,82,100,8.16,FR,overcast clouds

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}Â°F</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))